<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Quiz</title>
        <link rel="stylesheet" href="css/app.css">
        <style>
            .danger{
                color:red;
            }
            .success{
                color:green;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <people></people>
        </div>
        <script src="js/vue.js"></script>
        
        <script src="js/people.js"></script>
        <script>
            let Search = {
                data(){
                    return{
                        query:''
                    }
                },
                template:`
                    <input type="search" v-model="query" @input="changed" ref="search"/>
                `,
                methods:{
                    changed(){
                        //this.$emit('input',this.$refs.search.value)
                        this.$emit('input',this.query)
                    }
                }
            }
            let People = {
                data(){
                    return {
                        people:[],
                        query:''
                    }
                },
                components:{
                    'search':Search
                },
                template:`
                    <div class="people">
                        <search v-model="query"></search>
                        <table v-if="people.length">
                            <thead>
                                <th><td>ID</td></th>
                                <th><td>Name</td></th>
                                <th><td>Username</td></th>
                                <th><td>Email</td></th>

                            </thead>   
                            <tbody>
                                <tr v-for="person in filteredPeople">
                                    <td> {{ person.id }}</td>
                                    <td> {{ person.name }}</td>
                                    <td> {{ person.username }}</td>
                                    <td> {{ person.email }}</td>
                                </tr>
                            </tbody> 
                        </table>
                        <p v-else> No result found</p>
                    </div>
                `,
                computed:{
                    filteredPeople() {
                        return this.people.filter((row)=>{
                            return Object.keys(row).some((key)=>{
                                return String(row[key]).indexOf(this.query) > -1
                            })
                        })
                    }
                },
                mounted(){
                    this.people = people
                }
            }

            let app = new Vue({
                el:"#app",
                components:{
                   'people':People
                }
            })
        </script>
    </body>
</html>