<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Quiz</title>
        <link rel="stylesheet" href="css/app.css">
        <style>
            .danger{
                color:red;
            }
            .success{
                color:green;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <quiz></quiz>
        </div>
        <script src="js/vue.js"></script>
        <script src="js/axios.min.js"></script>
        <script src="questions.js"></script>
        <script>
            let Answer = {
                props:['answer'],
                template:`
                    <div class="answer">
                        <label :for="'answer-'+answer.id">
                            <input type="radio" :id="'answer-'+answer.id" name="answer" /> {{ answer.title}}   
                        </label>
                    </div>
                `,
            }
            let Question = {
                props:[
                    'question'
                ],
                components:{
                    'answer':Answer
                },
                template:`
                    <div class="question">
                        <h3>{{ question.title }}</h3>
                        <answer v-for="answer in question.answers" :answer="answer" :key="answer.id"></answer>
                    </div>
                `,
            }

            let Quiz = {
                components:{
                    'question':Question

                },
                data(){
                    return {
                        questions:[],
                        currentQuestion:null
                    }
                },
                template:`
                    <div class="quiz">
                        <h4>Question x of y</h4>
                        <question v-if="currentQuestion" :question="currentQuestion"></question>
                        
                    </div>
                `,
                mounted(){
                   
                    // axios.get('questions.json').then((response)=>{
                    //     this.questions = response.data
                    // })
                    this.questions = questions
                    console.log(this.questions[0].title)
                    this.currentQuestion = this.questions[0]
                }
            }

            let app = new Vue({
                el:"#app",
                components:{
                   'quiz':Quiz
                }
            })
        </script>
    </body>
</html>