<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Quiz</title>
        <link rel="stylesheet" href="css/app.css">
        <style>
            .danger{
                color:red;
            }
            .success{
                color:green;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <quiz></quiz>
        </div>
        <script src="js/vue.js"></script>
        <script src="js/axios.min.js"></script>
        <script src="questions.js"></script>
        <script>
            let Answer = {
                props:['answer'],
                template:`
                    <div class="answer">
                        <label :for="'answer-'+answer.id">
                            <input type="radio" :id="'answer-'+answer.id" name="answer" @click="choose(answer)"/> {{ answer.title}}   
                        </label>
                    </div>
                `,
                methods:{
                    choose(answer){
                        this.$emit('answer:chosen',answer)
                    }
                }
            }
            let Question = {
                props:[
                    'question'
                ],
                components:{
                    'answer':Answer
                },
                data(){
                    return{
                        showNext:false,
                        answerChosen:null
                    }
                },
                template:`
                    <div class="question">
                        <h3>{{ question.title }}</h3>
                        <answer 
                            v-for="answer in question.answers" 
                            :answer="answer" 
                            :key="answer.id"
                            v-on:answer:chosen="checkAnswer"
                        ></answer>
                        <button v-if="showNext" @click.prevent="nextQuestion">Next</button>
                    </div>
                `,
                methods:{
                    checkAnswer(answer){
                        this.showNext = true
                        this.answerChosen = answer
                        
                    },

                    nextQuestion(){
                        this.$emit('question:answered', this.question, this.answerChosen)
                    }
                }
            }

            let Quiz = {
                components:{
                    'question':Question

                },
                data(){
                    return {
                        questions:[],
                        currentQuestion:null,
                        answeredQuestions:[]
                    }
                },
                template:`
                    <div class="quiz">
                        <h4>Question x of y</h4>
                        <question 
                            v-if="currentQuestion" 
                            :question="currentQuestion"
                            v-on:question:answered="storeAnswer"
                        ></question>
                        
                    </div>
                `,
                mounted(){

                    this.questions = questions
                    this.currentQuestion = this.questions[0]
                },
                methods:{
                    storeAnswer(question,answer){
                        this.answeredQuestions.push({
                            'question':question,
                            'answer':answer
                        })
                    }
                }
            }

            let app = new Vue({
                el:"#app",
                components:{
                   'quiz':Quiz
                }
            })
        </script>
    </body>
</html>